@font-face {
    font-family: AvenirMed;
    src: url("./font-type/Avenir-Medium-09.ttf");
}

@font-face {
    font-family: AvenirBlack;
    src: url("./font-type/Avenir-Black-03.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: AvenirMed;
}

.sub-heading-blue {
    color: rgb(3, 82, 148);
    font-family: AvenirBlack;
    font-size: 45pt;
    line-height: 1;
    letter-spacing: 3px;
}

.sub-heading-white {
    color: white;
    text-align: end;
    font-family: AvenirBlack;
    font-size: 45pt;
    line-height: 1;
    letter-spacing: 3px;
}

.component {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 2s ease;
}

.component.active {
    transform: translateY(0px);
    opacity: 1;
}

#navbar-top-container {
    position: fixed;
    width: 100%;
    z-index: 50;
}

.navigation-container {
    background: none;
    padding: 10px 50px !important;
}

.nav-background {
    animation: nav-back 2s;
    background-color: rgb(3, 82, 148);
}

.toggle-background {
    animation: nav-back 2s;
    background-color: rgb(3, 82, 148);
}

#toggler {
    border: 2px solid white;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navigation-words a {
    color: white;
    margin: auto 10px;
}

#carousel-container {
    z-index: -5;
}

#carousel-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    color: white;
    text-align: center;
    font-size: 40pt;
    line-height: 1.2;
    letter-spacing: 5px;
}

#carousel-content p {
    font-family: AvenirBlack;
}

.about-top-container {
    width: 100%;
    padding: 0 4%;
    padding-top: 100px;
}

#about-container {
    display: flex;
    justify-content: space-between;
}

.about-img {
    height: 250px;
    margin-top: 80px;
}

.about-content {
    letter-spacing: 2px;
    line-height: 1.5;
    width: 70%;
}

.about-content p:nth-child(1) {
    font-family: AvenirBlack;
    font-size: 16pt;
}

#portfolio-container {
    background-image: url("./Dilyn (Web Layout)/Main Page/jpg & png/3. Portfolio/Background.jpg");
    padding: 100px 4%;
    padding-bottom: 200px;
}

.client-container {
    display: flex;
    justify-content: space-evenly;
}

.client-img-container {
    width: 300px;
    height: 200px;
}

.client-img {
    border-radius: 10px;
}

#pricing-container {
    background-image: url("./gallery/Pricing Background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100px;
    margin-bottom: 50px;
}

.pricing-title {
    padding-left: 4%;
}

.price-card-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.price-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 40px;
    margin-bottom: 30px;
    text-align: center;
    width: 350px;
    height: 500px;
}

.price-card h4 {
    color: rgb(3, 82, 148);
    font-family: AvenirBlack;
}

.benefit-text {
    margin-bottom: 30px;
}

.benefit-text .tick-mark {
    color: green;
    text-decoration: none;
}

.benefit-text .cross-mark {
    color: red;
    text-decoration: none;
}

.price-card p {
    margin: 0;
}

.price-card span {
    text-decoration: line-through;
}

.price-amount {
    padding: 5px 20px;
    color: white;
    border-radius: 25px;
    background-color: rgb(3, 82, 148);
    text-align: center;
}

#customer-container {
    background-image: url("./Dilyn (Web Layout)/Main Page/jpg & png/5. Customer's Review/Background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 0 4%;
    padding-top: 100px;
}

.quotation-img {
    width: 25%;
    max-width: 150px;
    position: absolute;
    top: -30px;
}

.carousel-customer {
    text-align: center;
    color: black;
}

.customer-card {
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
}

.customer-image {
    width: 15%;
    border-radius: 50%;
    margin: 0 auto;
}

.review-text {
    margin-bottom: 30px;
}

.review-text p {
    font-size: 15pt;
}

#contact-top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 4%;
    padding-top: 100px;
}

.contact-left-column {
    width: 50%;
}

.contact-right-column {
    width: 40%;
}

.contact-info h5:nth-child(odd) {
    font-family: AvenirBlack;
    color: rgb(3, 82, 148);
}

.form-container {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.form-container input,
.form-container textarea {
    margin-top: 15px;
}

.form-container button {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    background-color: rgb(3, 82, 148);
    color: white;
    border: none;
    border-radius: 3px;
}

.contact-social-media {
    margin-bottom: 15px;
}

.contact-social-media img {
    width: 40px;
}

.contact-social-media a:nth-child(2),
.contact-social-media a:nth-child(3) {
    margin-left: 10px;
}

.computer-image-container {
    margin-top: 80px;
}

.computer-image-container img {
    width: 90%;
}

.footer-container {
    background-image: url("./Dilyn (Web Layout)/Main Page/jpg & png/7. Quick Links/Background.jpg");
    padding: 80px 4%;
    padding-bottom: 30px;
}

.footer-inside-container {
    display: flex;
    justify-content: space-between;
}

.footer-social-media {
    display: flex;
    justify-content: space-between;
}

.footer-social-container a:nth-child(1),
.footer-social-container a:nth-child(2) {
    margin-right: 10px;
}

.quick-links-container {
    width: 50%;
    color: white;
    padding-right: 4%;
}

.quick-links-container h6 {
    font-family: AvenirBlack;
}

.quick-links-inside-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quick-links {
    display: flex;
    flex-direction: column;
    color: white;
}

.quick-links a {
    margin: 5px 0;
    text-decoration: none;
    color: white;
}

.quick-links a:hover {
    color: black;
}

.copyright {
    color: white;
    margin-top: 100px;
    text-align: center;
}

@media (max-width:500px) {
    .sub-heading-blue {
        color: rgb(3, 82, 148);
        font-family: AvenirBlack;
        font-size: 25pt;
        line-height: 1;
        letter-spacing: 3px;
    }

    .sub-heading-white {
        color: white;
        text-align: end;
        font-family: AvenirBlack;
        font-size: 25pt;
        line-height: 1;
        letter-spacing: 3px;
    }

    #navbar-top-container img {
        width: 150px;
    }

    .navigation-container {
        padding: 12px !important;
    }

    .navigation-words a {
        margin: auto 0px;
    }

    #carousel-content {
        font-size: 16pt;
    }

    #about-container {
        flex-direction: column;
    }

    .about-img {
        height: 200px;
        margin-top: 40px;
    }

    .about-content {
        text-align: center;
        width: 100%;
    }

    .client-container {
        flex-direction: column;
        align-items: center;
    }

    .client-img-container {
        margin-top: 50px;
    }

    .price-card-container {
        flex-direction: column;
        align-items: center;
    }

    .price-card {
        width: 80%;
    }

    #customer-container {
        height: 620px;
        background-image: url("./gallery/Background-\(Portrait\).jpg");
    }

    .card-body {
        height: 400px;
    }

    .review-text p {
        font-size: 12pt;
    }

    #contact-top-container {
        flex-direction: column;
        margin-top: 80px;
        width: 100%;
        padding: 0 4%;
    }

    .contact-left-column {
        margin-bottom: 50px;
        width: 100%;
    }

    .contact-right-column {
        width: 100%;
    }

    .computer-image-container {
        margin-top: 0;
        text-align: end;
    }

    .computer-image-container img {
        width: 50%;
    }

    .footer-inside-container {
        flex-direction: column;
    }

    .footer-logo {
        text-align: center;
        margin-bottom: 50px;
    }

    .footer-social-media {
        flex-direction: column;
    }

    .footer-social-media img {
        width: 25%;
    }

    .quick-links-container {
        width: 50%;
        padding: 0;
    }

    .quick-links-inside-container {
        flex-direction: column;
    }

    .copyright {
        margin-top: 50px;
        font-size: 11pt;
    }

}

@keyframes nav-back {
    from {
        background-color: rgba(3, 82, 148, 0);
    }

    to {
        background-color: rgba(3, 82, 148, 1);
    }
}